﻿@model IEnumerable<EventManagement.Models.ImageUpload>
@{
    ViewBag.Title = "GetSPImages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Service Provider Images</h2>
<div class="modal-body">
    <div class="alert alert-warning">
        @*<div class="container">
              <div class="navbar">
                    <div class="navbar-inner" style="background-image: none;">*@
                         <ul class="nav">
        @{

            foreach (var item in Model)
            {
                byte[] photo = item.Image;
                string imageSrc = null;
                if (photo != null)
                {
                    MemoryStream ms = new MemoryStream();
                    ms.Write(photo, 0, photo.Length);
                    string imageBase64 = Convert.ToBase64String(ms.ToArray());
                    imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                }
        
                <li><img src="@imageSrc" alt="Image" width="100px" height="100px"/></li>
            } 
     
        }
    
                          </ul>
                     </div>
              </div>
        @*</div> 
        </div>
        </div>    *@
