﻿@model IEnumerable<EventManagement.Models.CutomerEventViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "GetAllEvent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "less than 50 days",
        Value = "less than 50 days"
    });
    listItems.Add(new SelectListItem
    {
        Text = "50-100 days",
        Value = "50-100 days"
    });
    listItems.Add(new SelectListItem
    {
        Text = "greater than 100 days",
        Value = "greater than 100 days"
    });
}
<h2>
    GetAllEvent</h2>
@using (Html.BeginForm("GetAllEvent", "Occation", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="form-group">
            @Html.Label("How many invitees you expect", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ddlDateFilter", listItems, "--Please Select--", new { @class = "form-control" })
                <span style="color: #EF5F5F; font-weight: bold;">*</span>
                <br />
                <span id="spInv" style="color: #EF5F5F; font-weight: bold; display: none;">Please select
                    Invitees</span> @*@Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" }) *@
            </div>
            <br />
            <p>
                <input type="submit" value="Search" class="btn btn-previous" />
            </p>
        </div>
    </fieldset>
}

@using (Html.BeginForm("SendEmail", "Occation", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    @Html.Grid(Model).Columns(columns =>
{
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.CheckBox("chkSelected", false, new { value = o.EventId }));
    columns.Add(o => o.EventId,true).Titled("EID");
    columns.Add(o => o.EventName).Titled("Occassion");
    columns.Add(o => o.CustomerName).Titled("Customer Name");
    columns.Add(o => o.CustomerEmail).Titled("Customer Email");
    columns.Add(o => o.PeopleCount).Titled("No. of Invitees");
    columns.Add().Titled("Event Date").RenderValueAs(o => o.DateFrom.ToString("dd/MM/yyyy") + " - " + o.DateTo.ToString("dd/MM/yyyy"));
    //columns.Add(o => o.DateFrom).Titled("Starts").SetWidth(100);
    //columns.Add(o => o.DateTo).Titled("Ends").SetWidth(100);
    columns.Add(o => o.SpecialAsk).Titled("Special Ask");    
 @*columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b>@Html.ActionLink("Edit", "EditCustomerEvent", new { customerId = d.CustomerId })</b>);
 columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b>@Html.ActionLink("Delete", "DeleteCustomerEvent", new { customerId = d.CustomerId })</b>);*@
}).WithPaging(10).Sortable().Filterable().WithMultipleFilters()

            <p>
                <input type="submit" value="Send Email" class="btn btn-previous" />
            </p>

}

