﻿@model IEnumerable<EventManagement.Models.ServicesViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "GetAllServiceProvider";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Service Provider</h2>

@using (Html.BeginForm("SendEmail", "Occation", FormMethod.Post))
{
    @Html.ValidationSummary(true)

@Html.Grid(Model).Columns(columns => {    
    columns.Add(o => o.ProviderName).Titled("Name").SetWidth(50);
    columns.Add(o => o.ProviderPhone).Titled("Phone").SetWidth(50);
    columns.Add(o => o.ProviderEmail).Titled("Email").SetWidth(50);
    columns.Add(o => o.ProviderCompany).Titled("Company").SetWidth(50);
    columns.Add(o => o.Id).Titled("Service Provider Images").Sanitized(false)
     .Encoded(false)
     .RenderValueAs(o => Html.ActionLink("View Image", "DisplaySPImages", new { id = o.Id }, new { @class = "modal-link" }).ToHtmlString());
    //.RenderValueAs(o => Html.ActionLink("View Image", "DisplaySPImages", new { id = o.Id }, null).ToHtmlString());
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.CheckBox("chkSelected", false, new { value = o.Id }));
 @*columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b>@Html.ActionLink("Edit", "EditCustomerEvent", new { customerId = d.CustomerId })</b>);
 columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b>@Html.ActionLink("Delete", "DeleteCustomerEvent", new { customerId = d.CustomerId })</b>);*@
}).WithPaging(10).Sortable().Filterable().WithMultipleFilters()
            
    
    <p>
      <input type="submit" value="Send Email" class="btn btn-previous" />
    </p>
    
    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <a href="#close" title="Close" class="modal-close-btn">X</a>
        <div class="modal-content">
        </div>
    </div>

}



<style type="text/css">
     .modal-content {
         width: 600px !important;
         margin: 30px auto !important;
     }
</style>

@section Scripts {
<script type="text/javascript">
    $(function () {
        // Initialize numeric spinner input boxes
        //$(".numeric-spinner").spinedit();
        // Initialize modal dialog
        // attach modal-container bootstrap attributes to links with .modal-link class.
        // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });
        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });
        //clear modal cache, so that new content can be loaded
        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });        
    });
    </script>
    }
