﻿@model EventManagement.Models.UserViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>
    Login</h2>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <div class="form-group">
        <div class="col-lg-3">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
        </div>
        <div class="col-lg-6">
            @Html.EditorFor(model => model.UserName) <span style="color: #EF5F5F; font-weight: bold;">
                *</span>
            <br />
            @*<span id="spCNm" style="color: #EF5F5F; font-weight: bold; display: none;">Username is required</span>*@
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-3">
            @Html.LabelFor(model => model.Password, new { @class = "control-label" })
        </div>
        <div class="col-lg-6">
            @Html.EditorFor(model => model.Password) <span style="color: #EF5F5F; font-weight: bold;">
                *</span>
            <br />
            @*<span id="spCNm" style="color: #EF5F5F; font-weight: bold; display: none;">Please enter
                Name</span>*@
            @Html.ValidationMessageFor(model => model.Password)
        </div>
    </div>
    if (Model != null && Model.IsNewMember)
    {
        <div class="form-group">
            <div class="col-lg-3">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
            </div>
            <div class="col-lg-6">
                @Html.EditorFor(model => model.ConfirmPassword) <span style="color: #EF5F5F; font-weight: bold;">
                    *</span>
                <br />
                @*<span id="spCNm" style="color: #EF5F5F; font-weight: bold; display: none;">Please enter
                    Name</span>*@
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
    }
    <br />
    <p>
        <input type="submit" value="Login" class="btn btn-success" />
    </p>
    
}
