﻿@model EventManagement.Models.Event
@{
    ViewBag.Title = "Event";
    
}
<br />
<br />
@using (Html.BeginForm("SaveEvent", "Admin", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Event</legend>
        <div class="col-lg-3">
            @Html.LabelFor(model => model.EventName, new { @class = "control-label" })
        </div>
        <div class="col-lg-6">
            @Html.HiddenFor(model => model.EventId)
            @Html.EditorFor(model => model.EventName)
            @Html.ValidationMessageFor(model => model.EventName)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}