﻿@model EventManagement.Models.EventServiceViewModel
@{
    ViewBag.Title = "Event Service";
}
<br />
<br />
@using (Html.BeginForm("SaveEventService", "Admin", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Event Service</legend>
        @Html.Label("Event", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.EventId, new SelectList(ViewBag.EventList, "EventId", "EventName"),
           "--Select Event--", new { @class = "form-control", id = "ddlEvent" })
            @Html.ValidationMessageFor(model => model.EventId, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-3">
            @Html.LabelFor(model => model.ServiceName, new { @class = "control-label" })
        </div>
        <div class="col-lg-6">
            @Html.HiddenFor(model => model.EventId)
            @Html.HiddenFor(model => model.ServiceId)
            @Html.EditorFor(model => model.ServiceName)
            @Html.ValidationMessageFor(model => model.ServiceName)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}