﻿@model EventManagement.Models.Location
@{
    ViewBag.Title = "Event";
}
<br />
<br />
@using (Html.BeginForm("SaveLocation", "Admin", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Event</legend>
        <div class="col-lg-3">
            @Html.LabelFor(model => model.LocDetails, new { @class = "control-label" })
        </div>
        <div class="col-lg-6">
            @Html.HiddenFor(model => model.LocID)
            @Html.EditorFor(model => model.LocDetails)
            @Html.ValidationMessageFor(model => model.LocDetails)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}