﻿@model EventManagement.Models.LocationAddress
@{
    ViewBag.Title = "Location Address";
}
<br />
<br />
@using (Html.BeginForm("SaveLocationAddress", "Admin", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Location Address</legend>
        <div class="form-group">
            @Html.Label("Location", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.LocationId, new SelectList(ViewBag.LocationList, "id", "name"),
              "--Select Location--", new { @class = "form-control", })
                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" }) 
            </div>
        </div>
        <div class="col-lg-3">
            @Html.LabelFor(model => model.LocationAddressName, new { @class = "control-label" })
        </div>
        <div class="col-lg-6">
            @Html.HiddenFor(model => model.LocationAddressId)
            @Html.HiddenFor(model => model.LocationId)
            @Html.EditorFor(model => model.LocationAddressName)
            @Html.ValidationMessageFor(model => model.LocationAddressName)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}