﻿@model List<EventManagement.Models.LocationAddressViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "All Location Address";
}
<br />
<br />
<br />
<br />
<fieldset>
    <legend>All Location Addresses</legend>
    <div class="col-lg-3">
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add(o => o.Location.LocDetails).Titled("Location Details").SetWidth(100);
       columns.Add(o => o.LocationAddressName).Titled("Location Address Details").SetWidth(100);
       columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b>@Html.ActionLink("Edit", "CreateLocationAddress", new { id = d.LocationAddressId })</b>);
       columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b>@Html.ActionLink("Delete", "DeleteLocationAddress", new { id = d.LocationAddressId })</b>);
   }).WithPaging(10).Sortable().Filterable().WithMultipleFilters()
    </div>
    <div>
        @Html.ActionLink("Add New Location Address", "CreateLocationAddress", "Admin", null, new { @class = ".btn-default" })
    </div>
</fieldset>
