﻿@model EventManagement.Models.Event
<div class="col-lg-3">
    @using (Html.BeginForm("ShowServices", "Admin", FormMethod.Post))
    {
            
        @Html.Label("Event", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.EventId, new SelectList(ViewBag.EventList, "EventId", "EventName"),
               "--Select Event--", new { @class = "form-control", id = "ddlEvent" })
            @Html.ValidationMessageFor(model => model.EventId, "", new { @class = "text-danger" })
        </div>
        <p>
            <input type="submit" value="Show Services" />            
        </p>
    }
</div>
