﻿@model List<EventManagement.Models.Location>
@using GridMvc.Html
@{
    ViewBag.Title = "All Event";
}
<br />
<br />
<br />
<br />
<fieldset>
    <legend>All Locations</legend>
    <div class="col-lg-3">
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add(o => o.LocDetails).Titled("Location Name").SetWidth(100);
       columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b>@Html.ActionLink("Edit", "CreateLocation", new { id = d.LocID })</b>);
       columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b>@Html.ActionLink("Delete", "DeleteLocation", new { id = d.LocID })</b>);
   }).WithPaging(10).Sortable().Filterable().WithMultipleFilters()
    </div>
    <div>
        @Html.ActionLink("Add New Location", "CreateLocation", "Admin", null, new { @class = ".btn-default" })
    </div>
</fieldset>
