﻿@model List<EventManagement.Models.Event>
@using GridMvc.Html
@{
    ViewBag.Title = "All Event";
}
<br />
<br />
<br />
<br />
<fieldset>
    <legend>All Events</legend>
    <div class="col-lg-3">
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add(o => o.EventName).Titled("Event Name").SetWidth(100);
       columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b>@Html.ActionLink("Edit", "CreateEvent", new { id = d.EventId })</b>);
       columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b>@Html.ActionLink("Delete", "DeleteEvent", new { id = d.EventId })</b>);
   }).WithPaging(10).Sortable().Filterable().WithMultipleFilters()
    </div>
    <div>
        @Html.ActionLink("Add New Event", "CreateEvent", "Admin", null, new { @class = ".btn-default" })
    </div>
</fieldset>
