﻿@model IEnumerable<EventManagement.Models.EventServiceViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "All Event Service";
}
<br />
<br />
<br />
<br />
<fieldset>
    <legend>All Event Services</legend>
    <div class="col-lg-3">
        @Html.Action("ShowEventService", "Admin")
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add(o => o.ServiceName).Titled("Service Name").SetWidth(100);
       columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b>@Html.ActionLink("Edit", "CreateEventService", new { eid = d.EventId, sid = d.ServiceId })</b>);
       columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b>@Html.ActionLink("Delete", "DeleteEventService", new { eid = d.EventId, sid = d.ServiceId })</b>);
   }).WithPaging(10).Sortable().Filterable().WithMultipleFilters()
    </div>
    <div>
        @Html.ActionLink("Add New Event Service", "CreateEventService", "Admin", null, new { @class = ".btn-default" })
    </div>
</fieldset>
