﻿@model EventManagement.Models.ServicesViewModel
@{
    ViewBag.Title = "EditService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";


    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "less than 50",
        Value = "less than 50"
    });
    listItems.Add(new SelectListItem
    {
        Text = "10-50",
        Value = "10-50"
    });
    listItems.Add(new SelectListItem
    {
        Text = "50-100",
        Value = "50-100"
    });
    listItems.Add(new SelectListItem
    {
        Text = "100-150",
        Value = "100-150"
    });
    listItems.Add(new SelectListItem
    {
        Text = "150-200",
        Value = "150-200"
    });
    listItems.Add(new SelectListItem
    {
        Text = "200-250",
        Value = "200-250"
    });
    listItems.Add(new SelectListItem
    {
        Text = "250-300",
        Value = "250-300"
    });
    listItems.Add(new SelectListItem
    {
        Text = "300-350",
        Value = "300-350"
    });
    listItems.Add(new SelectListItem
    {
        Text = "350-400",
        Value = "350-400"
    });
    listItems.Add(new SelectListItem
    {
        Text = "400-450",
        Value = "400-450"
    });
    listItems.Add(new SelectListItem
    {
        Text = "450-500",
        Value = "450-500"
    });
    listItems.Add(new SelectListItem
    {
        Text = "greater than 500",
        Value = "greater than 500"
    });
}


@using (Html.BeginForm("EditService", "ServiceProvider", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>Updater Service Provider</legend>
        <div id="tab1">
            <div class="form-group">
                @Html.LabelFor(model => model.ProviderName, new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProviderName)
                    @Html.HiddenFor(model => model.ProviderId)
                    @Html.HiddenFor(model => model.selectedServices, new { id = "srv" })
                    @Html.HiddenFor(model => model.selectedEvents, new { id = "evnt" })
                    @*@Html.ValidationMessageFor(model => model.ProviderName)*@ <span style="color: #EF5F5F;
                        font-weight: bold;">*</span> <span id="spPN" style="color: #EF5F5F; font-weight: bold;
                            display: none;">Please enter Name</span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ProviderCompany)
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProviderCompany)
                    @*@Html.ValidationMessageFor(model => model.ProviderCompany)*@ <span style="color: #EF5F5F;
                        font-weight: bold;">*</span> <span id="spPC" style="color: #EF5F5F; font-weight: bold;
                            display: none;">Please enter Company</span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ProviderAddress)
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProviderAddress)
                    @Html.ValidationMessageFor(model => model.ProviderAddress)
                    <span style="color: #EF5F5F; font-weight: bold;">*</span> <span id="spPA" style="color: #EF5F5F;
                        font-weight: bold; display: none;">Please enter Address</span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ProviderPhone)
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProviderPhone)
                    @*@Html.ValidationMessageFor(model => model.ProviderPhone)*@ <span style="color: #EF5F5F;
                        font-weight: bold;">*</span> <span id="spPPh" style="color: #EF5F5F; font-weight: bold;
                            display: none;">Please enter Phone</span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ProviderEmail)
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProviderEmail)
                    @*@Html.ValidationMessageFor(model => model.ProviderEmail)*@ <span style="color: #EF5F5F;
                        font-weight: bold;">*</span> <span id="spPE" style="color: #EF5F5F; font-weight: bold;
                            display: none;">Please enter Email</span>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Religion", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.ReligianId, new SelectList(ViewBag.ReligianList, "ReligianId", "ReligianName"), "--Please Select--", new { @class = "form-control" })
                    <span style="color: #EF5F5F; font-weight: bold;">*</span>
                    <br />
                    <span id="spRelg" style="color: #EF5F5F; font-weight: bold; display: none;">Please select
                        Religion</span> @*@Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" }) *@
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Invitees", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Invitees, listItems, "--Please Select--", new { @class = "form-control" })
                    <span style="color: #EF5F5F; font-weight: bold;">*</span>
                    <br />
                    <span id="spInv" style="color: #EF5F5F; font-weight: bold; display: none;">Please select
                        Invitees</span> @*@Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" }) *@
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active">
                    <a class="btn btn-primary btnNext" id="nA1">Next</a>
                </div>
            </div>
            <br />
        </div>
        <div id="tab2">
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Event", new { @class = "control-label" })
                </div>
                <div class="col-lg-6">
                    @Html.DropDownListFor(model => model.Events, new SelectList(ViewBag.Events, "EventId", "EventName"),
     new { @class = "multiselect form-control", multiple = "multiple", id = "dd", @onchange = "FillServices()" })
                    <span id="spEvents" style="color: #EF5F5F; font-weight: bold; display: none;">Please
                        select Events</span> @*@Html.ValidationMessageFor(model => model.Events)*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Service", new { @class = "control-label" })
                </div>
                <div class="col-lg-6">
                    @Html.DropDownListFor(model => model.Selected, new SelectList(Enumerable.Empty<SelectListItem>(), "ServiceId", "ServiceName"),
         new { @class = "multiselect form-control", multiple = "multiple", id = "lbservice" })
                    @* @Html.DropDownListFor(model => model.Services, new SelectList(ViewBag.Servicess, "ServiceId", "ServiceName"),
                new
                {
                    @class
                    = "multiselect form-control",
                    multiple = "multiple",
                    id = "lbservice1"
                }) *@ <span id="spServ" style="color: #EF5F5F; font-weight: bold; display: none;">Please
                    select Services</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("Images", new { @class = "control-label" })
                </div>
                <div class="col-lg-6">
                    @Html.RadioButtonFor(e => e.NoOfImages, "2", new { id = "fixed2" })
                    @Html.Label("fixedTrue", "2")
                    @Html.RadioButtonFor(e => e.NoOfImages, "5", new { id = "fixed5" })
                    @Html.Label("fixedFalse", "5")
                    @Html.RadioButtonFor(e => e.NoOfImages, "10", new { id = "fixed10" })
                    @Html.Label("fixedFalse", "10")
                </div>
            </div>
            <div class="form-group">
                <div id="img2">
                    <input id="NewsImage1" title="Upload a image" type="file" name="file1" />
                    <br />
                    <input id="NewsImage2" title="Upload a image" type="file" name="file2" />
                    <br />
                </div>
                <div id="img5">
                    <input id="NewsImage3" title="Upload a image" type="file" name="file3" />
                    <br />
                    <input id="NewsImage4" title="Upload a image" type="file" name="file4" />
                    <br />
                    <input id="NewsImage5" title="Upload a image" type="file" name="file5" />
                    <br />
                </div>
                <div id="img10">
                    <input id="NewsImage6" title="Upload a image" type="file" name="file6" />
                    <br />
                    <input id="NewsImage7" title="Upload a image" type="file" name="file7" />
                    <br />
                    <input id="NewsImage8" title="Upload a image" type="file" name="file8" />
                    <br />
                    <input id="NewsImage9" title="Upload a image" type="file" name="file9" />
                    <br />
                    <input id="NewsImage10" title="Upload a image" type="file" name="file10" />
                </div>
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Comment)
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Comment)
                    @Html.ValidationMessageFor(model => model.Comment)
                </div>
            </div>
            <br />
            <div class="tab-pane">
                <a class="btn btn-primary btnPrevious" id="pA3">Previous</a>
            </div>
            <br />
            <p>
                <input type="submit" id="btnCreate" value="Update" class="btn btn-success" />
            </p>
        </div>
    </fieldset>
}
<div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $('#ProviderPhone').keypress(function () {
            return this.value.length < 10
        })

        function FillServices() {
            var evIds = new Array();
            evIds = $('#dd').val();

            var person = {
                eId: evIds
            };

            //alert(evIds);

            var realvalues = new Array(); //storing the selected values inside an array
            $('#dd :selected').each(function (i, selected) {
                realvalues[i] = $(selected).val();
            });

            $.ajax({
                //url: '../Occation/GetPlaceByEventId',
                url: '@Url.Action("GetPlaceByEventIds", "Occation")',
                type: "GET",
                dataType: "JSON",
                data: { eventIds: JSON.stringify(person, null, 2) },
                success: function (services) {
                    $("#lbservice").html(""); // clear before appending new list                     
                    $.each(services, function (i, addr) {
                        $("#lbservice").append(
                    $('<option></option>').val(addr.id).html(addr.name));
                    });
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        }


        $(document).ready(function () {

            var service = $('#srv').val();
            var event = $('#evnt').val();
            var servicearray = service.split(",");
            var eventearray = event.split(",");
            //alert(service);

            $("#dd").val(eventearray);


            var evIds = new Array();
            evIds = $('#dd').val();

            var person = {
                eId: evIds
            };

            //alert(evIds);

            var realvalues = new Array(); //storing the selected values inside an array
            $('#dd :selected').each(function (i, selected) {
                realvalues[i] = $(selected).val();
            });

            $.ajax({
                //url: '../Occation/GetPlaceByEventId',
                url: '@Url.Action("GetPlaceByEventIds", "Occation")',
                type: "GET",
                dataType: "JSON",
                data: { eventIds: JSON.stringify(person, null, 2) },
                success: function (services) {
                    $("#lbservice").html(""); // clear before appending new list                     
                    $.each(services, function (i, addr) {
                        $("#lbservice").append(
                    $('<option></option>').val(addr.id).html(addr.name));
                    });
                    $("#lbservice").val(servicearray);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });

            $("#tab1").css('display', 'block');
            $("#tab2").css("display", "none");



            $("#fixed2").prop("checked", true);
            $('#img2').show();
            $('#img5').hide();
            $('#img10').hide();

            $('#fixed2').click(function () {
                $('#img2').show();
                $('#img5').hide();
                $('#img10').hide();
            });
            $('#fixed5').click(function () {
                $('#img2').show();
                $('#img5').show();
                $('#img10').hide();

            });
            $('#fixed10').click(function () {
                $('#img2').show();
                $('#img5').show();
                $('#img10').show();

            });
            $('#nA1').click(function () {

                if ($('#ProviderName').val() == '') {
                    $("#spPN").css("display", "block");
                    return false;
                }
                else if ($('#ProviderCompany').val() == '') {
                    $("#spPC").css("display", "block");
                    return false;
                }
                else if ($('#ProviderAddress').val() == '') {
                    $("#spPA").css("display", "block");
                    return false;
                }
                else if ($('#ProviderPhone').val() == '') {
                    $("#spPPh").css("display", "block");
                    return false;
                }
                else if ($('#ProviderEmail').val() == '') {
                    $("#spPE").css("display", "block");
                    return false;
                }
                else if ($('#ReligianId').val() == '') {
                    $("#spRelg").css("display", "block");
                    return false;
                }
                else if ($('#Invitees').val() == '') {
                    $("#spInv").css("display", "block");
                    return false;
                }                
                else {
                    $("#spPN").css("display", "none");
                    $("#spPC").css("display", "none");
                    $("#spPA").css("display", "none");
                    $("#spPPh").css("display", "none");
                    $("#spPE").css("display", "none");
                    $("#spInv").css("display", "none");
                    $("#spRelg").css("display", "none");

                    $("#tab1").css("display", "none");
                    $("#tab2").css('display', 'block');
                }

            });

            //            $('#btnCreate').click(function () {

            //                var ar = $("#dd option:selected").length;
            //                //alert(ar);

            //                if (ar <= 0) {
            //                    $("#spEvents").css("display", "block");
            //                }
            //                else
            //                {
            //                    $("#spEvents").css("display", "none");
            //                }
            //            
            //            });
            $('#pA3').click(function () {


                $("#tab1").css("display", "block");
                $("#tab2").css('display', 'none');

            });

        });

        
    </script>
}
