﻿@model IEnumerable<EventManagement.Models.ServicesViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "GetAllServiceProvider";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Service Provider</h2>

@Html.Grid(Model).Columns(columns => {
    columns.Add(o => o.ProviderName).Titled("Name").SetWidth(50);
    columns.Add(o => o.ProviderPhone).Titled("Phone").SetWidth(50);
    columns.Add(o => o.ProviderEmail).Titled("Email").SetWidth(50);
    columns.Add(o => o.ProviderCompany).Titled("Company").SetWidth(50);
    columns.Add(o => o.NoOfImages).Titled("No of Images").SetWidth(50);    
 columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b>@Html.ActionLink("Edit", "EditService", new { providerId = d.ProviderId })</b>);
 columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b>@Html.ActionLink("Delete", "DeleteService", new { providerId = d.ProviderId })</b>);
}).WithPaging(10).Sortable().Filterable().WithMultipleFilters()