﻿@model EventManagement.Models.ImageUpload

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "ServiceProvider", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ImageUpload</legend>

        

        <div class="editor-label">
           dddd
        </div>
        <div class="editor-field">
            
            @Html.TextBoxFor(Model=> Model.UploadImage, new{type="file"})
            <input id="NewsImage" title="Upload a image" type="file" name="file" />
            @Html.ValidationMessageFor(model => model.UploadImage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageName)
            @Html.ValidationMessageFor(model => model.ImageName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
