﻿/* Styles go here */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap 
{
  max-width: 979px;
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  
  /* Pad bottom by footer height */
   padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer 
{
  max-width: 1155px;  
  height: 60px;
  background-color: #f5f5f5;
  margin-left:-20px;
  margin-right:-20px;
  
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .credit {
  margin: 20px 0;
}
