﻿@model EventManagement.Models.Customer
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "less than 50",
        Value = "less than 50"
    });
    listItems.Add(new SelectListItem
    {
        Text = "10-50",
        Value = "10-50"
    });
    listItems.Add(new SelectListItem
    {
        Text = "50-100",
        Value = "50-100"
    });
    listItems.Add(new SelectListItem
    {
        Text = "100-150",
        Value = "100-150"
    });
    listItems.Add(new SelectListItem
    {
        Text = "150-200",
        Value = "150-200"
    });
    listItems.Add(new SelectListItem
    {
        Text = "200-250",
        Value = "200-250"
    });
    listItems.Add(new SelectListItem
    {
        Text = "250-300",
        Value = "250-300"
    });
    listItems.Add(new SelectListItem
    {
        Text = "300-350",
        Value = "300-350"
    });
    listItems.Add(new SelectListItem
    {
        Text = "350-400",
        Value = "350-400"
    });
    listItems.Add(new SelectListItem
    {
        Text = "400-450",
        Value = "400-450"
    });
    listItems.Add(new SelectListItem
    {
        Text = "450-500",
        Value = "450-500"
    });
    listItems.Add(new SelectListItem
    {
        Text = "greater than 500",
        Value = "greater than 500"
    });
}

<br />
<br />
@using (Html.BeginForm("CreateEvent", "Event", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Let's get your Event booked</legend>
        <div id="tab1">
            <div class="form-group">
                @Html.Label("You are hosting for", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.EventId, new SelectList(ViewBag.EventList, "id", "name"), "--Please Select--", new { @class = "form-control", @onchange = "FillServices()" })
                    <span style="color: #EF5F5F; font-weight: bold;">*</span>
                    <br />
                    <span id="spEv" style="color: #EF5F5F; font-weight: bold; display: none;">Please select
                        Event</span> @*@Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" }) *@
                </div>
            </div>
            <div class="form-group">
                @Html.Label("How many invitees you expect", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Invitees, listItems, "--Please Select--", new { @class = "form-control" })
                    <span style="color: #EF5F5F; font-weight: bold;">*</span>
                    <br />
                    <span id="spInv" style="color: #EF5F5F; font-weight: bold; display: none;">Please select
                        Invitees</span> @*@Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" }) *@
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Religion", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.ReligianId, new SelectList(ViewBag.ReligianList, "ReligianId", "ReligianName"), "--Please Select--", new { @class = "form-control" })
                    <span style="color: #EF5F5F; font-weight: bold;">*</span>
                    <br />
                    <span id="spRelg" style="color: #EF5F5F; font-weight: bold; display: none;">Please select
                        Religion</span> @*@Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" }) *@
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active">
                    <a class="btn btn-primary btnNext" id="nA1">Next</a>
                </div>
            </div>
        </div>
        <br />
        <div id="tab2">
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.Label("What services you want to avail", new { @class = "control-label" })
                </div>
                <div class="col-lg-6">
                    @Html.DropDownListFor(model => model.Selected, new SelectList(Enumerable.Empty<SelectListItem>(), "ServiceId", "ServiceName"), new { @class = "multiselect form-control", multiple = "multiple", id = "dd" })
                    <span id="spServ" style="color: #EF5F5F; font-weight: bold; display: none;">Please select
                        Services</span>
                </div>
            </div>
            <div class="tab-pane">
                <a class="btn btn-primary btnPrevious" id="pA2">Previous</a> <a class="btn btn-primary btnNext"
                    id="nA2">Next</a>
            </div>
        </div>
        <br />
        <div id="tab3">
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.LabelFor(model => model.CustomerName, new { @class = "control-label" })
                </div>
                <div class="col-lg-6">
                    @Html.EditorFor(model => model.CustomerName) <span style="color: #EF5F5F; font-weight: bold;">
                        *</span>
                    <br />
                    <span id="spCNm" style="color: #EF5F5F; font-weight: bold; display: none;">Please enter
                        Name</span>
                    @Html.ValidationMessageFor(model => model.CustomerName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.LabelFor(model => model.CustomerPhone, new { @class = "control-label" })
                </div>
                <div class="col-lg-6">
                    @Html.EditorFor(model => model.CustomerPhone) <span style="color: #EF5F5F; font-weight: bold;">
                        *</span> <span id="spCPh" style="color: #EF5F5F; font-weight: bold; display: none;">
                            Please enter Phone</span>
                    @Html.ValidationMessageFor(model => model.CustomerPhone)
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.LabelFor(model => model.CustomerEmail, new { @class = "control-label" })
                </div>
                <div class="col-lg-6">
                    @Html.TextBoxFor(model => model.CustomerEmail) <span style="color: #EF5F5F; font-weight: bold;">
                        *</span> <span id="spEm" style="color: #EF5F5F; font-weight: bold; display: none;">Please
                            enter Email</span>
                    @Html.ValidationMessageFor(model => model.CustomerEmail)
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.LabelFor(model => model.CustomerAddress, new { @class = "control-label" })
                </div>
                <div class="col-lg-6">
                    @Html.TextBoxFor(model => model.CustomerAddress) <span style="color: #EF5F5F; font-weight: bold;">
                        *</span> <span id="spCAdd" style="color: #EF5F5F; font-weight: bold; display: none;">
                            Please enter Address</span>
                    @Html.ValidationMessageFor(model => model.CustomerAddress)
                </div>
            </div>
            <div class="editor-label">
                <div class="col-lg-3">
                    @Html.LabelFor(model => model.CustomerEventdate, new { @class = "control-label" })
                </div>
                <div class="col-lg-6">
                    @Html.EditorFor(model => model.CustomerEventdate, new { @class = "form-control" }) 
                    <span style="color: #EF5F5F; font-weight: bold;">
                        *</span> <span id="spEvDt" style="color: #EF5F5F; font-weight: bold; display: none;">
                            Please enter Event date</span>
                    @Html.ValidationMessageFor(model => model.CustomerEventdate)
                </div>
            </div>
            <div class="tab-pane">
                <a class="btn btn-primary btnPrevious" id="pA3">Previous</a> <a class="btn btn-primary btnNext"
                    id="nA3">Next</a>
            </div>
        </div>
        <br />
        <div id="tab4">
            <div class="editor-label">
                <div class="col-lg-3">
                    @Html.Label("Event Location Fixed", new { @class = "control-label" })
                </div>
                <div class="col-lg-6">
                    @Html.RadioButtonFor(e => e.isFixedLocation, true, new { id = "fixedTrue" })
                    @Html.Label("fixedTrue", "Yes")
                    @Html.RadioButtonFor(e => e.isFixedLocation, false, new { id = "fixedFalse" })
                    @Html.Label("fixedFalse", "No")
                </div>
            </div>
            <div id="Fixed">
                <div class="form-group">
                    @Html.Label("Preferred Area", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.LocationId, new SelectList(ViewBag.LocationList, "LocationId", "LocationName"),
"--Select Area--", new { @class = "form-control", @onchange = "FillAddress()" })
                        @*@Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" }) *@
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Event Place", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.LocationAddId, new SelectList(Enumerable.Empty<SelectListItem>(), "AddressId", "AddressName"),
              "--Select Place--",
              new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" }) *@
                    </div>
                </div>
            </div>
            <div class="editor-label">
                <div class="col-lg-3">
                    @Html.LabelFor(model => model.DateFrom, new { @class = "control-label" })
                </div>
                <div class="col-lg-6">
                    @Html.EditorFor(model => model.DateFrom)
                </div>
            </div>
            <div class="editor-label">
                <div class="col-lg-3">
                    @Html.LabelFor(model => model.DateTo, new { @class = "control-label" })
                </div>
                <div class="col-lg-6">
                    @Html.EditorFor(model => model.DateTo)
                </div>
            </div>
            <div class="editor-label">
                <div class="col-lg-3">
                    @Html.LabelFor(model => model.SpecialAsk, new { @class = "control-label" })
                </div>
                <div class="col-lg-6">
                    @Html.EditorFor(model => model.SpecialAsk)
                </div>
            </div>
            <div class="tab-pane">
                <a class="btn btn-primary btnPrevious" id="pA4">Previous</a>
            </div>
            <br />
            <p>
                <input type="submit" value="Create" class="btn btn-success" />
            </p>
        </div>
        <br />
    </fieldset>
}
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $('#CustomerPhone').keypress(function () {
            return this.value.length < 10
        })

        function FillAddress() {
            var locationId = $('#LocationId').val();

            $.ajax({
                //url: '/Location/GetPlaceByLocationId',
                url: '@Url.Action("GetPlaceByLocationId", "Location")',
                type: "GET",
                dataType: "JSON",
                data: { locationId: locationId },
                success: function (locationAdd) {
                    $("#LocationAddId").html(""); // clear before appending new list                     
                    $.each(locationAdd, function (i, addr) {
                        $("#LocationAddId").append(
                    $('<option></option>').val(addr.id).html(addr.name));
                    });
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        }

        function FillServices() {
            var evId = $('#EventId').val();
            //alert(evId);
            $.ajax({
                //url: '../Occation/GetPlaceByEventId',
                url: '@Url.Action("GetPlaceByEventId", "Occation")',
                type: "GET",
                dataType: "JSON",
                data: { eventId: evId },
                success: function (services) {
                    $("#dd").html(""); // clear before appending new list                     
                    $.each(services, function (i, addr) {
                        $("#dd").append(
                    $('<option></option>').val(addr.id).html(addr.name));
                    });
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        }

        $(document).ready(function () {

            $("#tab1").css('display', 'block');
            $("#tab2").css("display", "none");
            $("#tab3").css("display", "none");
            $("#tab4").css("display", "none");

            $("#fixedTrue").prop("checked", true);
            $('#Fixed').hide();
            $('#fixedTrue').click(function () {

                $('#Fixed').hide('fast');
            });
            $('#fixedFalse').click(function () {
                $('#Fixed').show('fast');

            });


            $('#nA1').click(function () {
                //alert($('#EventId').val());
                
                if ($('#EventId').val() == '') {
                    $("#spEv").css("display", "block");
                    return false;
                }
                else if ($('#Invitees').val() == '') {
                    $("#spInv").css("display", "block");
                    return false;
                }
                else if ($('#ReligianId').val() == '') {
                    $("#spRelg").css("display", "block");
                    return false;
                }
                else {
                    $("#spEv").css("display", "none");
                    $("#spInv").css("display", "none");
                    $("#spRelg").css("display", "none");

                    $("#tab1").css("display", "none");
                    $("#tab2").css('display', 'block');
                    $("#tab3").css("display", "none");
                    $("#tab4").css("display", "none");
                }

            });

            $('#nA2').click(function () {

                var ar = $("#dd option:selected").length;
                //alert(ar);

                if (ar <= 0) {
                    $("#spServ").css("display", "block");
                }
                else {
                    $("#spServ").css("display", "none");

                    $("#tab1").css("display", "none");
                    $("#tab2").css("display", "none");
                    $("#tab3").css('display', 'block');
                    $("#tab4").css("display", "none");
                }

            });

            $('#nA3').click(function () {
                if ($('#CustomerName').val() == '') {
                    $("#spCNm").css("display", "block");
                    return false;
                }
                else if ($('#CustomerPhone').val() == '') {
                    $("#spCPh").css("display", "block");
                    return false;
                }
                else if ($('#CustomerEmail').val() == '') {
                    $("#spEm").css("display", "block");
                    return false;
                }
                else if ($('#CustomerAddress').val() == '') {
                    $("#spCAdd").css("display", "block");
                    return false;
                }
                else if ($('#CustomerEventdate').val() == '') {
                    $("#spEvDt").css("display", "block");
                    return false;
                }
                else {
                    $("#spCNm").css("display", "none");
                    $("#spCPh").css("display", "none");
                    $("#spEm").css("display", "none");
                    $("#spCAdd").css("display", "none");
                    $("#spEvDt").css("display", "none");

                    $("#tab1").css("display", "none");
                    $("#tab2").css("display", "none");
                    $("#tab3").css("display", "none");
                    $("#tab4").css('display', 'block');
                }

            });

            $('#pA2').click(function () {
                $("#tab1").css('display', 'block');
                $("#tab2").css("display", "none");
                $("#tab3").css("display", "none");
                $("#tab4").css("display", "none");

                //                $("#spEv").css("display", "none");
                //                $("#spInv").css("display", "none");
                //                $("#spRelg").css("display", "none");
                //                $("#spCNm").css("display", "none");
                //                $("#spCPh").css("display", "none");
                //                $("#spEm").css("display", "none");
                //                $("#spCAdd").css("display", "none");
                //                $("#spEvDt").css("display", "none");

            });

            $('#pA3').click(function () {
                $("#tab1").css("display", "none");
                $("#tab2").css('display', 'block');
                $("#tab3").css("display", "none");
                $("#tab4").css("display", "none");

                //                $("#spEv").css("display", "none");
                //                $("#spInv").css("display", "none");
                //                $("#spRelg").css("display", "none");
                //                $("#spCNm").css("display", "none");
                //                $("#spCPh").css("display", "none");
                //                $("#spEm").css("display", "none");
                //                $("#spCAdd").css("display", "none");
                //                $("#spEvDt").css("display", "none");

            });

            $('#pA4').click(function () {
                $("#tab1").css("display", "none");
                $("#tab2").css("display", "none");
                $("#tab3").css('display', 'block');
                $("#tab4").css("display", "none");

                //                $("#spEv").css("display", "none");
                //                $("#spInv").css("display", "none");
                //                $("#spRelg").css("display", "none");
                //                $("#spCNm").css("display", "none");
                //                $("#spCPh").css("display", "none");
                //                $("#spEm").css("display", "none");
                //                $("#spCAdd").css("display", "none");
                //                $("#spEvDt").css("display", "none");

            });

        });

        //        $(document).ready(function () {
        //            $('#example-getting-started').multiselect();
        //        });

        
    </script>
}
