﻿@model IEnumerable<EventManagement.Models.CutomerEventViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "GetEvents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h2>Cutomer</h2>

@Html.Grid(Model).Columns(columns => {
    columns.Add(o => o.CustomerName).Titled("Name").SetWidth(50);
    columns.Add(o => o.CustomerPhone).Titled("Phone").SetWidth(50);
    columns.Add(o => o.CustomerEmail).Titled("Email").SetWidth(50);
    columns.Add(o => o.EventName).Titled("Event Name").SetWidth(50);
    columns.Add(o => o.CustomerEventdate).Titled("Event Date").SetWidth(50);
    columns.Add(o => o.isFixedLocation).Titled("isFixedLocation").SetWidth(50);
 columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b>@Html.ActionLink("Edit", "EditCustomerEvent", new { customerId = d.CustomerId })</b>);
 columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(d => @<b>@Html.ActionLink("Delete", "DeleteCustomerEvent", new { customerId = d.CustomerId })</b>);
}).WithPaging(10).Sortable().Filterable().WithMultipleFilters()



