﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scaleable=no;" />
    <title>Event Management</title>@Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery")
    @Styles.Render("~/bundles/bootstrapcss")
    @Styles.Render("~/bundles/bootstrapjs")
    @Styles.Render("~/bundles/gridmvccss")
    @*@Styles.Render("~/bundles/bootstrapmultiselectjs")
    @Styles.Render("~/bundles/bootstrapmultiselectcss")*@
    @Styles.Render("~/bundles/stickyfooter")
    @Styles.Render("~/bundles/cdatetime")
    <style type="text/css">
        .navbar .nav > li > a
        {
            color: #ffffff;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner" style="background-image: none; background-color: #80298c;">
                <div class="container-fluid">
                    <a class="brand" href="#">
                        <img src="~/Content/Images/logo.png" /></a>
                </div>
            </div>
        </div>
        @*<br />
        <br />
        <br />
        <br />*@
        <div class="span5" style="margin-top: 8%;">
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner" style="background-image: none; background-color: #80298c;">
                <ul class="nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Add Event", "CreateEvent", "Home")</li>*@
                    <li>@Html.ActionLink("Customer", "EditEvent", "Home")</li>
                    <li>@Html.ActionLink("Service Provider", "GetAllServiceProvider", "ServiceProvider")</li>
                    <li>@Html.ActionLink("Events", "ShowEvents", "Admin")</li>
                    <li>@Html.ActionLink("Event Services", "ShowServices", "Admin")</li>
                    <li>@Html.ActionLink("Locations", "ShowLocations", "Admin")</li>
                    <li>@Html.ActionLink("Location Addresses", "ShowLocationAddress", "Admin")</li>
                    <li>@Html.ActionLink("Service Provider Events", "GetAllEvent", "Occation")</li>
                    <li>@Html.ActionLink("Customer Service Provider", "GetAllServiceProvider", "Occation")</li>
                    @*<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Events", "ShowEvents", "Admin")</li>
                                <li>@Html.ActionLink("Event Services", "ShowServices", "Admin")</li>
                                <li>@Html.ActionLink("Locations", "ShowLocations", "Admin")</li>
                                <li>@Html.ActionLink("Location Addresses", "ShowLocationAddress", "Admin")</li>
                            </ul>
                        </li><li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/gridmvcjs")
    @Scripts.Render("~/bundles/sdatetime")
    @RenderSection("scripts", required: false)
</body>
</html>
